.contact__bg {
  background-color: var(--black);
}

.contact {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact h2 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact p {
  color: var(--light-gray);
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .contact p {
    max-width: 38ch;
  }
}
