.footer__bg {
  background-color: var(--dark-gray);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__social {
  display: flex;
  gap: 1rem;
}
